*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #33bbff;

}

p{
    text-shadow: 0.5px 0.5px 0.5px black;
    font-size: 160%; 
    line-height: 150%;
    padding: 3%;
    text-indent: 2%;
    text-align: justify;
}

h3{
    font-size: 175%;
    line-height: 155%;
    font-weight: 500;
    color: black;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
}

a{
    color: blue;
    font-size: 200%;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: #c3d7df;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -4px;
}

#wrapper {
    max-width: 1200px;
    margin: auto;
}

#banner-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0 3% 0;
}

header{
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
}

header #logo img {
    margin: 20px;
    float: left;
    width: 55px;
}

/* NAVEGACION */
nav{
    float: right;
    padding: 25px 20px 0 0;
}


#menu-icon{
    display: none;
    font-size: 50px;
}

ul {
    list-style: none;
}

nav ul li {
    font-size: 150%;
    display: inline-block;
    float: left;
    padding: 10px;
}

nav ul li a{
    color: #6991ac;
}

.current {
    color: #3f5767;
}

.one-third{
    width: 30%;
    float: left;
    padding:  10px;
    text-align: center;
}

.icon-wrap{
    margin: 0 auto;
    width: 120px;
    height: 120px;
    background-color: gray;
    border-radius: 125px;
    text-align: center;
    margin-top: 3%;
}

.icon-wrap i {
    text-align: center;
    color: black;
    font-size: 450%;
    padding: 20%;
}

.left-col {
    float: left;
    margin: 0 auto;
    width: 60%;
    height: auto;
    padding: 1%;
}

.sidebar {
    float: left;
    margin: 0 auto;
    width: 36%;
    height: auto;
    padding: 1%;
}

.one-third-padding {
    width: 29%;
    float: left;
    margin: 2% 2%;
}

.clearfix-padding {
    clear: both;
    padding: 2%;
}

footer {
    background: #2c3e50;
    width: 100%;
    overflow: auto;
}

.icon-text {
    width: 100%;
    margin: 0 auto;
}

.icon-text-icon {
    float: left;
    width: 20%;
    padding: 4%;
}

.icon-text-text {
    float: left;
    width: 60%;
    padding: 4% 4% 2% 0;
}

.footer-nav {
    text-align: right;
}

.footer-nav a {
    font-size: 350%;
    color: #c3d7df;
    font-weight: 300;
}

.footer-nav a:hover {
    color: #f5f5f5;
}

.social {
    text-align: center;
}

.social li {
     display: inline;
}

.social i {
    font-size: 400%;
    margin: 1%;
    padding: 5%;
    color: #c3d7df;
}

.footer-second {
    border-top: 1px solid #aadcd2;
    text-align: center;
    margin: 0;
}

.footer-second p,a {
    text-align: center;
    color: blanchedalmond;
    font: 160%;
    line-height: 155%;
}




/*responsive*/

@media screen and (max-width:800px){
    p{
        font-size: 110% ;
    }
    h3 {
        font-size: 130%;
    }
    header {
        height: 80px;
        position: relative;
    }
    header #logo{
        margin: 15px 0 20px -25px;
    }
    menu-icon {
        display: inline-block;
    }
    nav:hover ul {
        display: block;
    }
    nav ul, nav:active ul {
        display: none;
        z-index: 1000;
        position: absolute;
        padding: 20px;
        background: #f5f5f5;
        border: 1px solid #a5bdcd;
        right: 20px;
        width: 30%;
        opacity: .96;
    }
    nav li {
        text-align: center;
    }
    .one-third{
        float: left;
        width: 100%;
    }
    .icon-wrap {
        height: 80px;
        width: 80px;
        margin: 3%;
    }
    .icon-wrap i{
        font-size: 250%;
        padding-top: 27%;
    }
    .left-col {
        width: 100%;
        padding: 0;
    }
    .sidebar {
        width: 100%;
        padding: 0;
    }
    .one-third-padding {
        width: 98%;
        margin: 0;
        padding: 1%;
    }
    .icon-text-icon {
        width: 100%;
        padding: 0 0 2% 0;
    }
    .icon-text-text {
        width: 100%;
        padding: 2% 0 0 0;
        font-size: 80%;
    }
}





















